.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #4797ff; 

}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1400px;
    max-width: 1200px; 

}

.header-title {
    font-size: 28px; 
    font-weight: bold;
    font-family: Arial, sans-serif; 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.button-header {
    background-color: #007BFF; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 8px 10px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin: 5px;
}

.button-header:hover {
    background-color: #0056b3; 
}
